<!DOCTYPE html>
<html>
	<meta charset="utf-8">
	<head th:replace="~{base :: head}"></head>
	<body onLoad="onLoad()">
		<div class='container-fluid total-area'>
			<header th:replace='~{base :: header}'></header>
			
			<main class='row mb-0 pb-0 main-area'>
				<nav th:replace='~{base :: nav-area}'></nav>
				<aside
				 class='container-fluid content-area d-flex justify-content-center align-items-between col-md-7 flex-wrap col-lg-8 col-xl-9'>
				 	<div class='table-responsive pl-2 pt-2'>
				 	<table class="table table-striped table-hover table-dark" id="suspeitos">
					  <thead>
					    <tr>
					      <th scope="col">#</th>
					      <th scope="col">ID</th>
					      <th scope="col">Dono</th>
					      <th scope="col">Justificativa</th>
					      <th scope="col">Local do Alerta</th>
					      <th scope="col">Momento do Alerta</th>
					      <th scope="col">Nível de Urgência</th>
					      <th scope="col">Placa</th>
					      <th scope="col">Status Do Veículo</th>
					      <th scope="col">Quem inseriu</th>
					      <th scope="col">Quem editou por último</th>
					      <th scope="col">Zona</th>
					       <th scope="col">Alertado</th>
					    </tr>
					  </thead>
					  <tbody>
					    <tr v-for='veiculo in veiculos_suspeitos'>
					      <th scope='row'>1</th>
					      <td >{{veiculo.id}}</td>
					      <td>{{veiculo.dono}}</td>
					      <td>{{veiculo.justificativa}}</td>
					      <td>{{veiculo.localDoAlerta}}</td>
					      <td>{{veiculo.momentoDoAlerta}}</td>
					      <td>{{veiculo.nivelDeUrgencia}}</td>
					      <td>{{veiculo.placa}}</td>
					      <td>{{veiculo.statusDoVeiculo}}</td>
					      <td>{{veiculo.ultimoUsuarioEditor}}</td>
					      <td>{{veiculo.usuarioInsersor}}</td>
					      <td>{{veiculo.zona}}</td>
					      <td>{{veiculo.alertado}}</td>
					    </tr>
					   
					  </tbody>
					</table>
					</div>
				 </aside>
			</main>
		</div>
		<div style='display:none' th:replace="~{base :: footer-imports}"></div>
		<script src='/js/vue_tabela_suspeitos.js'></script>
	</body>
</html>